In [60]:
import pymongo
import numpy as np
import pandas as pd
client = pymongo.MongoClient("localhost",27017)
db=client.teste

EXERCÍCIO 1 - Retorne o nome da rota realizadas em que houve eventos de “overspeed”

In [61]:
drivers= db.driver.find()
timesheet= db.timesheet.find()
truck_event= db.truck_event_text_partition.find()

In [62]:
rotas_over=[]

for item in truck_event:
    
    eventType = item["eventType"]
    
    if eventType == "Overspeed":    
        rota = item["routeName"]
        rotas_over.append(rota)

rotas_over

['Saint Louis to Tulsa',
 'Springfield to KC Via Hanibal Route 2',
 'Saint Louis to Memphis Route2',
 'Saint Louis to Tulsa',
 'Memphis to Little Rock',
 'Des Moines to Chicago Route 2',
 'Springfield to KC Via Hanibal',
 'Saint Louis to Tulsa Route2',
 'Wichita to Little Rock Route 2']

EXERCÍCIO 2 - Retorne o id dos caminhões e dos motoristas e o ssn dos motoristas com evento de “overspeed”

In [51]:
client = MongoClient()
db = client['teste']
#select the collection within the database
test = db.driver
#convert entire collection to Pandas dataframe
df_driver = pd.DataFrame(list(test.find()))

In [53]:
client = MongoClient()
db = client['teste']
#select the collection within the database
test = db.timesheet
#convert entire collection to Pandas dataframe
df_timesheet = pd.DataFrame(list(test.find()))

In [57]:
client = MongoClient()
db = client['teste']
#select the collection within the database
test = db.truck_event_text_partition
#convert entire collection to Pandas dataframe
df_truck_event = pd.DataFrame(list(test.find()))

In [72]:
merged_inner = pd.merge(left=df_driver, right=df_truck_event, left_on='driverId', right_on='driverId')

In [76]:
merged_inner_overspeed = merged_inner[merged_inner['eventType']=='Overspeed']

In [77]:
merged_inner_overspeed[['driverId','truckId','ssn']]

       driverId  truckId        ssn
5            10       85  621011971
46           10       85  621011971
763          11       74  262112338
5216         18       16  171010151
8156         28       39  959908181
8981         29       66  185502192
11940        20       41  921812303
14920        25       96  913310051
15666        26       57  124705141

EXERCÍCIO 3 - Faça uma consulta que exiba todos os eventos cometidos pelo motorista diferente de “Normal”. Mostre as informações com “ID”, “name” e “ssn” dos motoristas.

In [78]:
merged_inner_overspeed = merged_inner[merged_inner['eventType']!='Normal']

In [79]:
merged_inner_overspeed[['driverId','name','ssn']]

       driverId                 name        ssn
5            10    George Vetticaden  621011971
46           10    George Vetticaden  621011971
97           10    George Vetticaden  621011971
739          11       Jamie Engesser  262112338
745          11       Jamie Engesser  262112338
749          11       Jamie Engesser  262112338
751          11       Jamie Engesser  262112338
755          11       Jamie Engesser  262112338
763          11       Jamie Engesser  262112338
796          11       Jamie Engesser  262112338
800          11       Jamie Engesser  262112338
807          11       Jamie Engesser  262112338
811          11       Jamie Engesser  262112338
1524         12          Paul Coddin  198041975
2268         13          Joe Niemiec  139907145
3012         14           Adis Cesir  820812209
3760         15         Rohit Bakshi  239005227
4476         17          Eric Mizell  123808238
5216         18            Grant Liu  171010151
5973         16           Tom McCuch  363303105
6721         22        Nadeem Asghar  783204269
7442         27      Mark Lochbihler  392603159
8156         28      Olivier Renault  959908181
8981         29           Teddy Choi  185502192
9728         30             Dan Rice  282307061
10414        31        Rommel Garcia  858912101
11195        32       Ryan Templeton  290304287
11940        20         Chris Harris  921812303
12713        21         Jeff Markham  209408086
13370        24          Don Hilborn  254412152
14177        23            Adam Diaz  928312208
14920        25  Jean-Philippe Playe  913310051
15666        26         Michael Aube  124705141
16377        19           Ajay Singh  160005158